.initialText {
  max-width: 170px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.47px;
  line-height: 19px;
  text-align: center;
}

.initialTextInfo {
  font-size: 14px;
  letter-spacing: -0.41px;
  line-height: 16px;
  font-weight: 500;
  color: #CDDAE5;
  text-align: center;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}