.aboutWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;

  .title {
    color: #2b292d;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 39px;
    margin: auto;
    margin-bottom: 0;
  }

  .secTitle {
    font-size: 26px;
    color: #2b292d;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
  }

  .para {
    color: #2b292d;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .para2 {
    color: rgba($color: #2b292d, $alpha: 0.7);
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
  }
}
