.homeWrapper {
  margin-top: 90px;

  .heading {
    color: #2b292d;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 40px;
    line-height: 56px;
  }
  .col {
    margin-bottom: 40px;
  }
  .subheading {
    color: #2b292d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .secSubheading {
    color: #2b292d;
    font-size: 24px;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 34px;
  }
  .rightprice {
    height: 36px;
    width: 750px;
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .card {
    box-sizing: border-box;
    height: 641px;
    width: 241px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 3.5px;
  }
  .line {
    height: 1px;
    width: 239px;
    opacity: 0.2;
    background-color: #2b292d;
  }
  .basic {
    height: 75px;
    width: 200px;
    color: #1bc9e6;
    font-family: Roboto;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 30px;
    font-weight: 500;
  }
  .options {
    height: 175px;
    width: 946px;
    margin: 100px;
  }
  .option1 {
    height: 133px;
    width: 360px;
    border-right: 0.5px solid #2b292d;
    text-align: center;
  }
  .option2 {
    height: 100px;
    width: 260px;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    div.option2 {
      height: 50px;
      width: 130px;
      text-align: center;
    }
    div.option1 {
      height: 60px;
      width: 180px;
      border-right: 1px solid #2b292d;
      text-align: center;
    }
  }
  .note {
    height: 90px;
    width: 360px;
    color: #2b292d;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
  }

  .contact {
    height: 24px;
    width: 88px;
    color: #1bc9e6;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
  }
  .needhelp {
    height: 90px;
    width: 360px;
    color: #2b292d;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
  }
  .list {
    height: 237px;
    width: 240px;
    color: #2b292d;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
  }
  .check {
    display: inline-block;

    &:after {
      /*Add another block-level blank space*/
      content: "";
      display: block;

      /*Make it a small rectangle so the border will create an L-shape*/
      width: 8px;
      height: 15px;

      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid #1bc9e6;
      border-width: 0 2px 2px 0;

      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
      margin-left: 18px;
      margin-right: 15px;
    }
  }
}
