$header-black: #2b292d;

.loginWrapper {
  min-height: calc(100vh - 300px);

  .forgotText {
    font-size: 14px;
    letter-spacing: -0.41px;
    line-height: 16px;
    text-align: center;
    font-weight: 500;
  }

  .headerText {
    color: $header-black;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 56px;
  }

  .subHeaderText {
    color: $header-black;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 34px;
  }

  label.keepMeLoggedIn {
    font-size: 14px;
    letter-spacing: -0.41px;
    line-height: 16px;
    font-weight: 500;
  }
}

.textBlue {
  color: #1bc9e6;

  &:hover {
    color: #1bc9e6;
  }
}