.homeWrapper {
  margin-top: 90px;

  .heading {
    color: #2b292d;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 56px;
  }
  .button {
    color: #1bc9e6;
  }
  .subheading {
    color: #2b292d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .form {
    margin-top: 15px;
  }
  .input1 {
    margin: 0;
  }
  .forgotText {
    font-size: 14px;
    letter-spacing: -0.41px;
    line-height: 16px;
    text-align: left;
    font-weight: 500;
  }
  .input3 {
    height: 140px;
  }
  button.loginBtn {
    background-color: #1bc9e6 !important;
    box-shadow: none;

    &:not(.disabled):active {
      background-color: #1bc9f0 !important;
      box-shadow: inherit !important;
    }
  }
}
