.homeWrapper {
  margin-top: 90px;
  min-height: calc(100vh - 140px);
  position: relative;

  .heading {
    line-height: 37px;
    color: #000;
  }

  .linkBtn {
    height: 44px;
    border-radius: 5px;
    background-color: #1bc9e6;
    color: #fff;
    border: 0;
    width: 100%;
    outline: none;
  }
}
.analyzeCss {
  width: "22px";
  height: "24px";
}

// .videoStyle {
//   pointer-events: none;
//   background: transparent;
//   background-size: cover;
//   width: "330px";
//   right: "70px";
//   bottom: "0px";
//   padding-bottom: "224.67px";
//   background: transparent;
//   height: "807px";
//   object-fit: cover;
//   object-position: center;
// }
