.dashboard-main-wrapper {
  position: relative;
  display: flex;
  background-color: #fff;

  .sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 14px;
        list-style-type: none;
      }

      .userWrapper {
        border-bottom: 1px solid rgba(151, 151, 151, 0.1);

        .name {
          text-decoration: none;
          font-size: 16px;
          letter-spacing: -0.41px;
          line-height: 16px;
          font-weight: 400;
          color: #000;
        }

        .tag {
          text-decoration: none;
          font-size: 12px;
          background-color: #cddae5;
          color: #595959;
          text-align: center;
          font-weight: 500;
          border-radius: 4px;
          margin-top: 2px;
        }

        .avatar {
          background-color: #1bc9e6;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 9px;
          border-radius: 50%;
          font-size: 15px;
          font-weight: 500;
          color: #fff;
        }
      }

      .sidebarLogo {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(151, 151, 151, 0.1);

        b.sidebarLogoText {
          font-size: 1.25rem;
          color: #000;
        }
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dashboardHeader {
      height: 79px;

      .linkStyle {
        height: 100%;
        font-size: 18px;
        letter-spacing: -0.53px;
        line-height: 21px;
        margin-left: 16px;
        text-decoration: none;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
      }
      .linkStyle.active {
        position: relative;
        color: #1bc9e6;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 0;
          border-bottom: 4px solid #1bc9e6;
        }
      }
    }
  }

  .content {
    padding: 10px;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
  }
  .Campaign {
    color: #000;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: large;
    // padding-left: 10px;
  }
  .checkBox {
    // padding: 10px;
    text-align: center;
    display: flex;
    padding-left: 50px;
    height: 27px;
    color: #837e7e;
    // justify-content: center;
  }
  #blueBtn {
    font-size: 14px;
    justify-content: center;
    padding: 12px;
    // padding-left: 100px;
  }
  .inputCam {
    justify-content: center;
    width: "100%";
  }
}
