.mainWrapper {
  padding: 10px;

  .heading {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -0.99px;
    line-height: 40px;
    color: #000;
    margin: 0;
  }

  .subHeading {
    color: #838383;
    font-size: 16px;
    letter-spacing: -0.47px;
    line-height: 19px;
  }

  table {
    tr {
      border-bottom: 0;
    }

    th {
      color: #b4bac6;
      font-size: 10.45px;
      letter-spacing: 1.49px;
      line-height: 13px;
    }
  }

  td {
    .field {
      color: rgba($color: #000000, $alpha: 0.5);
      font-size: 15.73px;
      letter-spacing: 0.13px;
      line-height: 32.6px;
      font-weight: 500;

      i {
        color: #1bc9e6;
      }
    }

    .name {
      color: #354052;
      font-size: 15.73px;
      letter-spacing: 0.13px;
      font-weight: bold;
    }
  }

  .paperHeading {
    color: #1a173b;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .threeButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .buttonsEnable {
    background: white;
    // border-bottom-left-radius: 5px;
    // border-top-left-radius: 5px;
    border-color: #1bc9e6;
    border-width: 2px;
    box-shadow: none !important;
    background-color: #1bc9e6;
    color: white;
    border-style: solid;
    box-shadow: none;

    outline: none;
    border-right-width: 0px;
    // margin: 0;
  }
  .buttonsDisable {
    background: white;
    border-color: #1bc9e6;
    border-width: 2px;
    border-style: solid;
    color: #1bc9e6;
    border-right-width: thin;
    box-shadow: none;

    // margin: 0;
  }
  .buttonsYear {
    background: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #1bc9e6;
    border-width: 2px;
    border-style: solid;
    color: #1bc9e6;
    // margin: 0;
  }
  .vertical {
    border-left: 0.1px solid #e0e0e0;
    height: 193px;
    position: absolute;
    left: 57%;
  }
  .conditionalDiv {
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    bottom: 10px;
    font-family: Roboto;
  }
  .conditionalDivIn {
    width: 25%;
    display: flex;
    flex-direction: row;

    bottom: 10px;
    font-family: Roboto;
  }
}
.secDivGraph {
  // height: 100px;
  display: flex;
  flex-direction: row;
}
