.headerWrapper {
  padding-top: 18px;
  margin-bottom: 18px;
  height: 50px;

  b.headerLogoText {
    color: #000;
    font-weight: 900;
  }

  .headerText {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.47px;
    line-height: 19px;
  }

  .loginBtn {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    color: #1bc9e6;
    padding: 12px 54px;
    text-align: center;
  }

  .customLanguageSelection {
    position: relative;

    label {
      cursor: pointer;
    }

    ul {
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #fff;
      margin-top: 10px;
      min-width: 100px;
      z-index: 99;
      left: -46px;

      li {
        cursor: pointer;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}
