.title {
  color: #2b292d;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 39px;
  margin-bottom: 0;
}

.para {
  color: #2b292d;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
  font-weight: 400; 
  margin-bottom: 24px;
}
