.mainWrap {
  .avatar {
    background-color: #1bc9e6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.99px;
    line-height: 40px;
    color: #000;
  }

  .tag {
    font-size: 12px;
    background-color: #cddae5;
    color: #595959;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    padding: 2px 5px;
  }
}

.userHeaderWrap {
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 1px solid rgba(151, 151, 151, .1);

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    height: 60px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.53px;
    line-height: 21px;
  }

  .active {
    position: relative;
    color: #1bc9e6;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-bottom: 4px solid #1bc9e6;
      bottom: -0.5px;
    }
  }
}

.paragraphTitle {
  color: #2C3241;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

.paragraphSubTitle {
  font-size: 16px;
  letter-spacing: -0.47px;
  line-height: 19px;
}

.paragraphSubTitleSettings {
  @extend .paragraphSubTitle;
  color: #838383;
}

.paragraphSubTitlePlan {
  @extend .paragraphSubTitle;
  color: #1BC9E6;
}