.experienceWrapper {
  padding: 10px;

  .heading {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -0.99px;
    line-height: 40px;
    color: #000;
    margin: 0;
  }
  .subHeading {
    color: #838383;
    font-size: 16px;
    letter-spacing: -0.47px;
    line-height: 19px;
  }
  .para {
    height: 19px;
    width: 146px;
    color: #1bc9e6;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.47px;
    line-height: 19px;
  }
  .addBtn {
    background-color: #1bc9e6 !important;
    box-shadow: none;
    float: right;
  }
  .title {
    height: 34px;
    width: 233px;
    color: #000000;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.21px;
    line-height: 33.8px;
  }
  .col {
    height: 300px;
    width: 455px;
    background: white;
    padding: "5px";
  }
  .calendar {
    color: #1bc9e6;
    margin: 32px;
    margin-right: "5px";
    margin-bottom: "0px";
  }

  .textBlue {
    color: #1bc9e6;
  }

  .iconsSubText {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 12.1px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }

  .expWrapper {
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;

    .rightPanel {
      background-color: #dff0f3;
      border-radius: 0 5px 5px 0;

      .sharingWrapper {
        margin: 25px;

        p {
          color: #000000;
          font-size: 18px;
          letter-spacing: -0.53px;
          line-height: 21px;
          font-weight: 400;
        }

        .input {
          width: 100%;
          background: #fff;
          border-radius: 5px !important;
          font-size: 16px;
          letter-spacing: -0.47px;
          line-height: 19px;
          color: rgba($color: #000000, $alpha: 0.5);
          border: 0;
          padding: 15.67px 0 15.67px 10px;
        }

        .copy {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          border-radius: 5px;
          background-color: #1bc9e6 !important;
          color: #ffffff !important;
          text-transform: capitalize;
          box-shadow: none;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.47px;
          line-height: 19px;
          text-align: center;
          padding: 15.67px 40px;
        }
      }
    }

    .leftWrapper {
      padding: 1.1rem 1rem;

      .share {
        padding: 4px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .enableShare {
        @extend .share;
        background-color: #dff0f3;
        color: #1bc9e6;
      }

      .heading {
        color: #000000;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0.21px;
        line-height: 33.8px;
      }

      .content {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 22.8px;
      }

      .tag {
        font-size: 12px;
        background-color: #1bc9e6;
        color: #fff;
        text-align: center;
        font-weight: 500;
        border-radius: 4px;
        padding: 2px 5px;
      }
    }
  }

  .rowTitle {
    font-weight: 400;
    color: #838383;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.47px;
    line-height: 19px;
  }

  textarea {
    resize: none;
  }
}
