@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  // max-width: 1280px;
  margin: 0 auto !important;
  background-color: #f5f5f5 !important;
}

.raj-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 86px);
}

div.text-danger {
  font-size: 12px;
  color: #dc3545 !important;
  font-weight: 500;
  height: 24px;
  margin-left: 6px;
}

.et-arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 20px;
}

.et-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.et-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.et-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.et-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// .et-container {
//   @media (min-width: 1200px) {
//     max-width: 1280px;
//   }
// }

.et-pointer {
  cursor: pointer !important;
}

input {
  border-radius: 0.3em !important;
  background-image: none !important;
}

.custom-input-wrapper {
  .md-form {
    margin-top: 0;
    margin-bottom: 0;
  }
  .custom-checkbox {
    .custom-control-input {
      &:focus:not(:checked) ~ .custom-control-label::before {
        border-color: #adb5bd;
        box-shadow: none;
      }

      &:focus:checked ~ .custom-control-label::before {
        border-color: #1bc9e6;
        background-color: #1bc9e6;
        box-shadow: none;
      }
    }
    .custom-control-label {
      user-select: none;

      &::before {
        border-radius: 2px;
        top: 0px;
      }

      &::after {
        top: 0px;
      }
    }
  }
}

nav.header-style-one {
  display: none !important;
}

body.body-style-one {
  background-color: #fff !important;
  nav.header-style-one {
    display: flex !important;
  }
  &:before {
    content: "";
    background-image: url("./assets/images/polygon.svg");
    background-repeat: no-repeat;
    width: 580px;
    height: 850px;
    position: absolute;
    top: -138px;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: right;
  }
}

button.blueBtn {
  background-color: #1bc9e6 !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  text-transform: capitalize;

  &:not(.disabled):active {
    background-color: #1bc9f0 !important;
    box-shadow: inherit !important;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: #1bc9f0 !important;
    box-shadow: inherit !important;
  }
}

button.textBtn {
  color: #1bc9e6 !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  border: none !important;
  text-transform: capitalize;

  &:hover {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }

  &:not(.disabled):active {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }

  &:not([disabled]):not(.disabled):active {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }
}

.outlinedBlueBtn {
  cursor: pointer;
  color: #1bc9e6 !important;
  border: 1.5px solid #1bc9e6 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  text-transform: capitalize;
  font-weight: 400;

  &:hover {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }

  &:not(.disabled):active {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }

  &:not([disabled]):not(.disabled):active {
    color: #1bc9e6 !important;
    box-shadow: inherit !important;
  }
}

.et-paper {
  border-radius: 5px 0 0 5px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.custom-select {
  background-color: #f5f5f5 !important;
  border: none !important;
  outline: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.StripeElement {
  display: block;
  max-width: 500px;
  padding: 16px 14px;
  border-radius: 4px;
  background: #f5f5f5;
}

.stripe {
  font-size: 18px;
  font-weight: bold;
  color: #6772e5;
}

.custom-control-input {
  &::after,
  &::before {
    top: 0;
  }

  &:checked ~ label.custom-control-label::before {
    border-color: #4cd964;
    background-color: #4cd964;
  }
}

.custom-control-label {
  vertical-align: top;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
}

.page-footer {
  // position: absolute !important;
  height: 194.67px;
  background-color: #2e2e2e;
  
  font-family: Roboto;
}
